.container
  .top_nav
    .title_and_icon(url="https://imgur.com/lbK5T93.png")
    //- .money
    //-   .mon
    //-   h3.num 9999
    .block.block1
    .block.block2
    .block.block3
  ul.filter
    li.category.all.filter_choose 全部
    li.category.hat 帽子
    li.category.top 上裝
    li.category.bottom 下裝
    li.category.acc 飾品
    li.category.medic 藥品
  .bottom_row
    #items_box.left
      //- .item
      //-   .item_pic
      //-     h5.item_cate 上衣
      //-   .bottom_intro
      //-     .intro
      //-       h4.name 涼爽白襯衫
      //-       .money
      //-         .mon
      //-         h3.price 120
      //-     .blue_btn.add_btn ＋
        
        
    .right
      .li_title 購物籃
      #basket_box.all_list.hole_text
        //- .list
        //-   .item_pic
        //-   .intro
        //-     h4.name 涼爽白襯衫
        //-     h5.item_cate 上衣
        //-     .money
        //-       .mon
        //-       h3.price 120
        //-   .last
        //-     .count
        //-       .add +
        //-       .num 1
        //-       .subtract -
        //-     .blue_btn.remove_btn 移除全部

      hr
      .total
        h4 總價
        .money
          .mon
          h4.price.total_price 0
      .blue_btn.buy_btn 確認購買
      
//- .block.out_block.block4
//- .block.out_block.block5
//- .block.out_block.block6